# Firebase
GoogleService-Info.plist

# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# User-specific Xcode files
*.xcuserdata

# Workspace-related files
xcuserdata/
*.xcworkspace
!default.xcworkspace

# CocoaPods
#
Pods/
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#source-control

# Carthage
#
Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
Package.resolved
.swiftpm/

# Xcode automatically generates a plist file to store the App Store Connect API key when the API key is configured in the project.
# More information: https://developer.apple.com/documentation/xcode/creating-an-api-key-for-app-store-connect-api
*.apiKey

# macOS
#
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/swift,macos,xcode
